.enzoPad{

	padding: 50px;
}
.enzoPad2{
	padding: 5px;
}

.gradient1{
	background: #74777f;
}

.gradient2{
	background: #666;
}
.gradient3{
	background: #434447;
}
.gradient4{
	background: #9c9ea3;
}
.gradient5{
	background: #46484a;
}
.gradient6{
	background:#b9bbbd;
}

#myjumbo{
	height: 1000px;
	color: black;
	background-image: url('images/enzoandgromit.jpg');
	background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
	font-size: large;
}

#page2{
	border-radius: 100px;
	width: 800px;
}

.imgCrop{

  border-radius: 100px;

}

.extraHeight{
	height: 670px;
}

.filler{
	height: 40px;
}

}
body{
 padding-top: 50px;
}
footer{
	color: white;
}
