.enzoPad{

	padding: 50px;
}
.enzoPad2{
	padding: 5px;
}

.gradient1{
	background: #74777f;
}

.gradient2{
	background: #666;
}
.gradient3{
	background: #434447;
}
.gradient4{
	background: #9c9ea3;
}
.gradient5{
	background: #46484a;
}
.gradient6{
	background:#b9bbbd;
}

#myjumbo{
	height: 1200px;
	/* color: white; */
	background-image: url('images/2024.jpg');
	background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
	font-size: large;
	
}

.shadow{
	color: white;
	text-shadow: -0.5px -0.5px 0 #000, 1px -1px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
}

#page2{
	border-radius: 100px;
	width: 800px;
}

.imgCrop{

  border-radius: 100px;

}

.extraHeight{
	height: 670px;
}

.filler{
	height: 40px;
}

}
body{
 padding-top: 50px;
}
footer{
	color: white;
}

.text-box {
    background-color: rgba(97, 97, 97, 0.5); /* Adjust opacity to your preference */
    padding: 20px; /* Adjust padding as needed */
    border-radius: 10px; /* Add rounded corners for better appearance */
}

.smaller-image {
    max-height: 600px; /* Adjust the maximum height as needed */
    width: auto; /* Ensure the width adjusts proportionally */
    margin: 0 auto; /* Center the image horizontally */
	display: block;
}